main {
  min-height: 50vh;
  display: grid;
  grid-template-areas:
    'input'
    'output';
  grid-template-columns: auto;
  @screen sm {
    grid-template-areas: 'input output';
    grid-template-columns: 1fr 1fr;
  }

  .input {
    grid-area: input;
    background-color: green;
  }

  .output {
    grid-area: output;
    background-color: red;
  }
}
