main {
  min-height: 66vh;
  display: grid;
  grid-template-areas:
    'input'
    'output';
  grid-template-columns: auto;
  @screen sm {
    grid-template-areas: 'input output';
    grid-template-columns: 1fr 1fr;
  }

  .input {
    grid-area: input;
    margin: 0 10px 0 10px;
    @screen sm {
      margin: 0 5px 0 10px;
    }
  }

  .output {
    grid-area: output;
    margin: 0 10px 0 10px;
    @screen sm {
      margin: 0 10px 0 5px;
    }
  }
}
