:host {
  display: flex;
  flex-direction: column;

  .output-header {
    height: 1.5rem;
    ::ng-deep .printor {
      @apply bg-white dark:bg-black;
      border: none;
      color: #2086d7;
    }
    ::ng-deep .printor:focus {
      border: none;
      outline: none;
    }
  }

  .output-editor {
    flex: 1;
    .editor {
      height: 100%;
    }
  }
}
