details {
  max-width: 600px;
  margin: 20px auto 5px;

  p {
    @apply text-center mt-1 mb-1;
  }

  .resources {
    @apply ml-8 mr-8 grid gap-2;
    li {
      @apply col-auto justify-center flex flex-col space-x-5 border dark:border-gray-600;
      @apply hover:bg-indigo-200;
      padding: 2px;
      height: 44px;
      a {
        @apply flex flex-row m-auto space-x-2;
        span {
          @apply justify-center flex flex-col;
          height: 44px;
        }
        img {
          height: 34px;
          margin: auto;
        }
      }
    }
  }

  details {
    @apply ml-8 mr-8 mb-1 mt-1 mb-4;
  }
}
