<details>
  <summary>Resources &amp; Tools</summary>
  <p>Using following tools with ♥.</p>
  <ul class="resources">
    <li>
      <a href="https://www.typescriptlang.org/" target="_blank">
        <img src="assets/typescript.svg" />
      </a>
    </li>
    <li>
      <a href="https://angular.io/" target="_blank">
        <img src="assets/angular.svg" />
      </a>
    </li>
    <li>
      <a href="https://nx.dev/angular" target="_blank">
        <img src="assets/nrwl.png" />
      </a>
    </li>
    <li>
      <a href="https://tailwindcss.com" target="_blank">
        <img src="assets/tailwindcss.svg" />
        <span>Tailwind CSS</span>
      </a>
    </li>
    <li>
      <a href="https://www.jetbrains.com/webstorm" target="_blank">
        <img src="assets/webstorm.svg" />
        <span>Webstorm</span>
      </a>
    </li>
  </ul>
  <p>You can also use the cmdline version</p>
  <details>
    <summary>json2code cmdline tool</summary>
    <pre>
json2code --help
json2code parse toto.json
    </pre>
  </details>
</details>
